# 1

In [1]:
def fun1(name, age):
  print(name,age)

In [2]:
fun1("Emma", age=23)

Emma 23

In [3]:
fun1(age =23, name="Emma")

Emma 23

# 2

In [4]:
def add(a, b):
  return a+5, b+5

In [5]:
result = add(3, 2)
print(result)

(8, 7)

# 8

In [6]:
def fun1(name, age=20):
  print(name, age)

In [7]:
fun1('Emma', 25)

Emma 25

# 9

In [8]:
def display_person(*args):

  for i in args:
    print(i)

In [10]:
# display_person(name="Emma", age="25")

# 10

In [11]:
def outer_fun(a, b):
   def inner_fun(c, d):
     return c + d
   return inner_fun(a, b)

In [12]:
res = outer_fun(5, 10) 
print(res)

15

# 12

In [15]:
def fun1(num):
   return num + 25

In [16]:
fun1(5)
print(num)

NameError: ignored

# 14

In [20]:
for num in range(-2,-5,-1):
    print(num,end=",")

-2,-3,-4,

In [22]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

# 15

In [31]:
numbers = [10, 20]
items = ["Chair", "Table"]
for x in numbers:
  for y in items:
    
    print(x, y)

10 Chair
10 Table
20 Chair
20 Table

# 17

In [37]:
x = 0
while (x < 100):
  x+=2
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

# 18

In [38]:
for i in range(2,-5,-1):
  print(i)

2
1
0
-1
-2
-3
-4

# 19

In [40]:
x = 0
a = 0
b = -5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

2

# 20

In [39]:
a, b = 12, 5
if a + b:
    print('True')
else:
  print('False')

True

# 21

In [41]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
        if var % 2 == 0:
            continue
            var += 1
    var+=1
else:
    var+=1
print(var)

21

# 22

In [46]:
x = 0
for i in range(10):
  for j in range(-1, -10, -1):
    x += 1
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

# 23

In [47]:
for num in range(10, 14):
  for i in range(2, num):
    if num%i == 1:
       print(num)
       break

10
11
12
13