# 1

In [39]:
aList = [10,20,30,40,50,60,70,80] 
print(aList[2:5])

[30, 40, 50]

In [40]:
 print(aList[:4])

[10, 20, 30, 40]

In [41]:
print(aList[3:])

[40, 50, 60, 70, 80]

# 2

In [42]:
nameList = ['Harsh','Pratik','Bob','Dhruv']

In [43]:
print (nameList [1][-1])

k

# 3

In [44]:
gradbunker = [1,2,3,4]

In [45]:
gradbunker.append ([5,6,7,8])

In [46]:
 print(gradbunker)

[1, 2, 3, 4, [5, 6, 7, 8]]

# 4

In [47]:
check1= ['Learn', 'Quiz', 'practice', 'Contribute']
check2 = check1
check3 = check1[:]
check2[0] = 'code'  
check3[1] = 'Mcq'
count = 0 
for c in (check1 , check2 , check3):
   if c[0] == 'code' : 
     count += 1

In [48]:
if c[1] == 'Mcq':

  count += 10
print (count)

12

# 5

In [49]:
list1 = range(100,110)
print (list1.index(105))

5

# 6

In [50]:
def gfg(x,l =[ ]):
  for i in range (x):
     l.append (i*i)
  print(l)

In [51]:
gfg (3,[3,2,1])

[3, 2, 1, 0, 1, 4]

# 7

In [53]:
 List1=[1,2,3,4,5] 
 List2 = List1

In [54]:
List2[0] = 0

In [55]:
 print (List2)

[0, 2, 3, 4, 5]

# 8

In [60]:
 list1 = [1998, 2002] 
 list2 = [2014, 2016]  
print ((list1+list2)*2)

[1998, 2002, 2014, 2016, 1998, 2002, 2014, 2016]

In [62]:
x=[1,2,3]
y=[4,5,6]

In [63]:
print((x+y)*2)

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

# 9

In [65]:
list1=['physics','chemistry', 1997, 2000] 
print(list1[1][-1])

y

# 10

In [66]:
list =[1,2,3, (1,2,3,4,5), [ 'welcome','to','gradbunker']]

In [67]:
print(len(list))

5

# 11

In [68]:
  list = ['python','learning','@', 'numpy''pandas','matplotlib']

In [69]:
print (list[0:6:2])

['python', '@', 'matplotlib']

# 12

In [70]:
d1= [10,20,30,40,50]

In [71]:
d2 =[1,2,3,4,5]

In [72]:
print(d1-d1)

TypeError: ignored

# 13

In [73]:
dict1 = {'name': 'Mike' , 'salary' : 8000}

In [74]:
 temp = dict1.get('name')

In [75]:
print (temp)

Mike

# 17

In [80]:
student = {'name' : 'Rajib','class' : 9, 'marks' : 75}

In [81]:
m = student.get(2)

In [83]:
print(m)

None

In [87]:
student.get("marks")

75

# 18

In [88]:
sampleDict = dict ([('first',1),('second',2),('third',3)])

In [90]:
print(sampleDict[2])

KeyError: ignored

# 21

In [91]:
dict1 = {'key1':1, 'key2':2}

In [92]:
dict2 = {'key2':2, 'key1':1}

In [93]:
print(dict1 == dict2)

True

# 22

In [99]:
 student = {1:{'name': 'Emma', 'age': 27,'sex' : 'Female'}, 2:{'name': 'Mike', 'age': 22, 'sex' : 'male'}}

In [103]:
student[1]["age"]

27

# 23

In [129]:
 student = { 'name' : 'Emma',    'class' :9,   'marks' : 75}

In [130]:
# student.popitem("marks")

In [131]:
# student.remove ("marks")

In [132]:
student.pop("marks")

75

In [134]:
# del student ["marks"]

In [135]:
# student

# 24

In [139]:
subjectSampleDicT = { 'class' :{  'student':{ 'name': 'Mike',  'marks' :   {'physics' : 70, 'history' :80 } } }}

In [141]:
subjectSampleDicT["class"]["student"]["marks"]["history"]

80

In [146]:
# subjectSampleDicT["class"]["student"]["marks"][1]

In [145]:
# subjectSampleDicT["class"][0]["marks"]["history"]

# 25

In [147]:
dict1 ={"name": "Mike", "salary":8000} 
temp = dict1.pop("age")
print (temp)

KeyError: ignored

# 26

In [149]:
Student = { "name" : "Emma",   "class" : 9,   "marks" :75}
del Student
print(Student)

NameError: ignored